.main_attraction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
    gap: 20px;
}

.attraction_img img{
    width: 513px;
    height: 500px;
    object-fit: cover;
}

.attraction_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.attraction_content h2{
    font-family: 'Angie Sans';
    font-size: 54px;
    font-weight: 400;
}

.attraction_content p {
    font-family: 'Mr Eaves';
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    line-height: 27px;
    letter-spacing: 2px;
    max-width: 450px;
}

.attraction_content button{
    padding: 10px 15px;
    width: 32%;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #4e5a73;
    border: none;
    font-family: 'Angie Sans';
}